main {
    height:calc(100%);
    width: 100%;
    align-items: center;
    padding-bottom: 70px;
    margin-top: 10px;
}

.whats {
    background:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR44m3w7VrsOfuKVmEVs4qkPclFLJSqwk3AgS22Z4CdEzD3Ke1) no-repeat center / cover;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    top: 19.6vh;
    animation:pulsewhats 1s linear infinite ;
    z-index: 1;
  }
  header p {
     color: rgb(255, 255, 255);
     font-weight: bolder;
     position: fixed; 
     font-size: 18px;
     background-color: rgba(0, 0, 0, 0.534);
     padding: 20px 100px 20px 20px;
     right: 10px;
     bottom: 72vh;
     border-radius: 10px 10px 10px 10px;
  }